@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* não soma valores. Se ele tem 200px ele se mantem 20px*/
    text-decoration: none;
    font-family: var(--fonttextos);
}

html, body {
    overflow-x: hidden; /* Remove a rolagem horizontal ( não está no vídeo horiginal, mas foi a única forma de conseguir acabar com a rolagem lateral*/ 
    overflow-y: hidden;
    
}

:root{
    --cortitulo: #d1cccc ;
    --cortextos: #ffffff;
    --fonttitulo: "Playfair Display", serif;
    --fonttextos: "Roboto Condensed", sans-serif;
}

body{
    background-color: #000000;
    color: #eeeeee;
    font-size: 12px;
}

header{
    width: 80%;
    height: 50px;
    display: flex; /* cria um container flexivel*/
    align-items: center; /* alinha os itens na "altura" */
    position: relative;/* define a posição de um elemento em relação a sua posição original*/
    z-index: 2;
    margin: auto; /* dá um espaço inicial na direita e esquerda e centraliza o item*/
}

header a{
    color: #eeeeee;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;

}

.container{
    height: 100vh;
    width: 100vw;
    margin-top: -50px; /*ele vai puxar o container junto ao header*/
    overflow: hidden; /*impede o scroll vertical, escondendo as coisas que "passam" a tela*/
}

.container .list .list-item{
    width: 100%;
    height: 100%;
    position: absolute; /* Fica exatamente onde queremos que fique. Não afeta a posição de outros itens, posicionando as coisas em relação ao container mais próximo*/

}

.container .list .list-item img{
    object-fit: cover; /*cobre a tela toda e não distorce*/
    width: 100%;
    height: 100%;
    filter: brightness(50%); /*deixa a img mais escura*/

}

.container .list .list-item .content{
    position: absolute;
    top: 20%; /* fará com que o conteúdo dentro se distancie do topo em 20%*/
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: #eeeeee;
    text-shadow: 1px 1px 2px rgb(10, 6, 7);

}

.container .list .list-item .title{
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
    font-family: var(--fonttitulo);
}

.container .list .list-item .description{
    font-size: 1.5em;
    width: 600px;
}

.container .list .list-item .buttons{
    display: grid; /* cria espaços para os itens, cada um ocupa uma área*/
    grid-template-columns: repeat(2, 130px); /*faz com que se crie 2 colunas, cada uma com 130px*/
    grid-template-rows: 40px; /* define a altura da "linha"*/
    margin-top: 20px;
    gap: 5px;

}

.container .list .list-item .buttons button{
    border: none;
    background-color: #ffffff;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.container .list .list-item .buttons button:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #eeeeee;
    transition: 0.7s;
}

.container .list .list-item .buttons button:nth-child(2){ /*nth-child, permite que escolhamos qual "filho" será modificado quando temos um grupo de itens*/
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #eeeeee;
}

.container .list .list-item .buttons button:nth-child(2):hover{
    background-color: #ffffff;
    border: none;
    transition: 0.7s;
    color: #000000;
}

.container .thumb{
    position: absolute; /*coloca exatamente onde quer*/
    bottom: 50px;
    left: 60%;
    display: flex;
    gap: 20px;
}

.container .thumb .thumb-item{
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 2;
}

.container .thumb .thumb-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}

.container .thumb .content{
    position: absolute;
    bottom: 8px; /*faz com que o texto suba um pouco, ficando em cima da img*/
    left: 10px;
    font-size: 17px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    
}


.container .arrows{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 120px;
    left: 125px;
    width: 300px;
}

.container .arrows button{
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    background-color: #eee4;
    color: #eeeeee;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;

}

.container .arrows button:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
}


/*animação thumb*/

.container.next .thumb{
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb {
    from{
        transform: translateX(150px); /*movimenta no eixo x*/
    }
}

.container.next .thumb .thumb-item:nth-last-child(1){
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from{
        width: 0;
        opacity: 0;
    }
}

/*textos - animação*/

.container .list .list-item:nth-last-child(1) .content .title,.container .list .list-item:nth-last-child(1) .content .description,.container .list .list-item:nth-last-child(1) .content .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear forwards;

}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
    
}

.container .list .list-item:nth-last-child(1) .content .title{
    animation-delay: 1s;
}

.container .list .list-item:nth-last-child(1) .content .description{
    animation-delay: 1.3s;
}

.container .list .list-item:nth-last-child(1) .content .buttons{
    animation-delay: 1.6s;
}

/*img "indo" da thumb*/

.container.next .list .list-item:nth-last-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showMainImage 0.5s linear 1 forwards;
}

@keyframes showMainImage {
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
}

/*img "voltando" pra thumb*/
.container.back .list .list-item:nth-child(1) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideMainImage 0.5s linear 1 forwards;
    z-index: 2;
}

@keyframes hideMainImage {
    to{
        width: 135px;
        height: 200px;
        border-radius: 10px;
        left: 50%;
        bottom: 50px;
        opacity: 0;
    }
}
